{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}">
    <title>{% block title %}AI Blog Generator{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
</head>
<body class="flex flex-col min-h-screen bg-gray-100 font-sans antialised">
    <!--navbar-->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div class="test-3xl font-bold">
            <a href="{% url 'index' %}" class="text-white">AI Generator Blog</a>
        </div>
        <div>
            <a href="#" class="text-white hover:underline mx-4">Welcome {{ user.username }}</a>
            <a href="{% url 'blog-list' %}" class="text-white hover:underline ">Saved Blog</a>
            <a href="{% url 'logout' %}" class="text-white hover:underline ">Logout</a>
        </div>
    </nav>

    {% block body %}
            


    {% endblock %}

    <footer class="text-center p-4 text-black mt-6">
        Powered by F M Mamun 
    </footer>
    <script>
        document.getElementById('generateBlogButton').addEventListener('click', async () => {
            

            const youtubeLink = document.getElementById('youtubeLink').value;
            
            const blogContent = document.getElementById('blogContent');
            
            if(youtubeLink) {
                document.getElementById('loading-circle').style.display = 'block';
                
                blogContent.innerHTML = ''; // Clear previous content
        
                const endpointUrl = '/generate-blog';
                
                try {
                    const response = await fetch(endpointUrl, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ link: youtubeLink })
                    });
        
                    const data = await response.json();
        
                    blogContent.innerHTML = data.content;
                    
        
                } catch (error) {
                    console.error("Error occurred:", error);
                    alert("Something went wrong. Please try again later.");
                    
                    
                }
                document.getElementById('loading-circle').style.display = 'none';
            } else {
                alert("Please enter a YouTube link.");
            }
        });
    </script>
</body>
</html>





