{% extends "base/layout_home.html" %}    

{% block title %}
    {% with "Blog-List" as title %}
        {{ title }}
    {% endwith %}
{% endblock %}

{% block body %}

     <!--Main Content container-->
     <div class="container mx-auto mt-10 sm:px-0">
        <div class="mx-w-3xl mx-auto bg-white rounded-lg p-6 shadow-md">
            <!--Blog Post Section-->
            <section>
                <h2 class="text-xl mb-4 font-semibold">All Blog Post</h2>
                <div class="space-y-4">
                    
                    {% for article in blog_articles reversed %}
                        <a href="{% url 'blog-details' article.id %}">
                            <div class="border border-gray-300 p-4 rounded-lg">
                                <h3 class="text-lg font-semibold">{{article.youtube_title}}</h3>
                                <p>{{article.generated_content|truncatechars:80}}</p>
                            </div>
                        </a>
                    {% endfor %}
                    <!--Repeat-->
                </div>
            </section>
        </div>
    </div>

{% endblock body %}
   
